.blogs{
    margin: 20px;
}

.blog{
    margin: 0px;
    padding: 0px;
    
    
}

.img-fluid{
    height: 150px;
    width: 250px;
    border-radius: 7px;
}
.player_img{
    height: 150px;
}
.div_blog{
    margin-top: 28px;
    line-height: 8px;
    
}
.fifth-section{
    border: 2px solid red;
    border-radius: 5px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .player{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;

    }
    
}